transformers
torch
torchvision
huggingface_hub
accelerate
opencv-python
einops
pillow
open_clip_torch
numpy
matplotlib
scikit-learn
openai-whisper
openai
python-dotenv
gradio
pyvips
pydub
# flash-attn